<!-- Roof area Starts -->
  <div id="roof">
      <div class="container">
        <div class="col-md-6 col-sm-6">
          <div class="info-bar-address">
             <!--<i class="icon-location-pin"></i> San Francisco, CA, United States-->
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <!-- Quick Contacts Starts -->
          <div class="quick-contacts" id="userConnection">
              <!--<span><i class="icon-phone"></i> (00) 123 456 789</span>-->
              <% if (user){ %>
              <span><i class="icon-user"></i><a id="usernameBarText" href="#"><%= user.username %></a></span>
              <span><i class="glyphicon glyphicon-off"></i><a id="logoutBarText" href="/logout">Desconexión</a></span>
              <% } else {%>
                  <span><i class="icon-user"></i><a id="usernameBarText" href="#" data-toggle="modal" data-target="#loginModal">Anonimo</a></span>                
              <% } %>
          </div>
          <!-- Quick Contacts End -->
        </div>
      </div>
  </div>
  <!-- Roof area End -->

  <!-- Nav Menu Section Start -->
  <div class="navigation-menu">
    <nav class="navbar navbar-default navbar-event" >
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header col-md-3">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="/"><img src="/assets/img/logo1.png" class="logo" alt=""></a>
        </div>
        
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav navbar-right">
            <li id="homePageNav"><a href="/">Pantalla principal</a></li>
            <% if (user){ %>
              <li id="hourPageNav"><a href="/hour">Jornadas</a></li>
              <li id="palePageNav"><a href="/pale">Pales</a></li>
            <% } %>
            <li id="aboutPageNav"><a href="/about">Saber más</a></li>             
          </ul>
        </div><!-- /navbar-collapse -->
      </div><!-- /container -->

      <!-- Mobile Menu Start -->
      <ul class="wpb-mobile-menu">
        <li id="homePageNavMobile"><a href="/">Pantalla principal</a></li>
         <% if (user){ %>
              <li id="hourPageNavMobile"><a href="/hour">Jornadas</a></li>
              <li id="palePageNavMobile"><a href="/pale">Pales</a></li>
            <% } %>
        <li id="aboutPageNavMobile"><a href="/about">Saber más</a></li>
       </ul>
      <!-- Mobile Menu End -->
    </nav>
          
  </div>
  <!-- Nav Menu Section End -->

  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLlb" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <form id="loginForm" action="/login" method="POST">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <% if (user){ %>
                      <h4 class="modal-title" id="loginLbl">Sesión iniciada</h4>
                    <% } else { %>
                      <h4 class="modal-title" id="loginLbl">Iniciar sesión</h4>
                    <% } %>
                </div>
                <div class="modal-body">
                    <div class="loginContent">
                        <% if (user){ %>
                            <div class="row row-centered">
                                <div class="form-group">
                                    Ya has iniciado una sesión.
                                </div>
                            </div>
                        <% } else { %>
                            <div class="row row-centered">
                                <div class="form-group">
                                    <div class="form-item col-md-6 col-sm-6 col-xs-6 col-centered">
                                        <label for="username"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Usuario</label>
                                    </div>
                                    <div class="form-item col-md-6 col-sm-6 col-xs-6 col-centered">
                                        <input type="text" class="form-control" id="username" name="username" required>
                                    </div>

                                    <div class="form-item col-md-6 col-sm-6 col-xs-6 col-centered">
                                        <label for="password"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Contraseña</label>
                                    </div>
                                    <div class="form-item col-md-6 col-sm-6 col-xs-6 col-centered">
                                        <input type="password" class="form-control" id="password" name="password" required>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                  <% if (!user){ %>
                      <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                  <% } %>
                </div>
            </form>
        </div>
    </div>
</div> 