<!DOCTYPE html>
<html lang="es">
  <head>
    <% include ../partials/head %> 
  </head>
  <body>

    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
      <% include ../partials/header %> 
    </header>
    <!-- Header Area wrapper End -->

    <% include ../partials/page-header %>   
    <main>
        <input type="hidden" id="pageName" value="<%= page %>"/>
        <div class="pageContent">
            <div class="searchPanel">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-1 col-sm-6 col-xs-6">
                            <label for="employee">Nombre empleado</label>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <input type="text" class="form-control" id="employee" name="employee">
                        </div>
                    
                        <div class="col-md-1 col-sm-6 col-xs-6">
                            <label for="initialDate">Fecha inicial</label>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <input type="text" class="form-control" id="initialDate" name="initialDate">
                        </div>
                    
                        <div class="col-md-1 col-sm-6 col-xs-6">
                            <label for="endDate">Fecha final</label>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <input type="text" class="form-control" id="endDate" name="endDate">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <button type="button" class="btn btn-primary center-block" onclick="searchWorkingday()">Buscar</button>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="col-md-4 col-sm-6 col-xs-12 pull-right">
                            <button type="button" class="btn btn-primary center-block" data-toggle="newWorkingDayModal">Nuevo</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="tablePanel">
                <table id="hoursTable"></table>
            </div>
        </div>

    <div class="modal fade" id="newWorkingDayModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 style="color:red;"><span class="glyphicon glyphicon-lock"></span> Nuevo</h4>
            </div>
            <div class="modal-body">
              <form role="form">
                <div class="form-group">
                  <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
                  <input type="text" class="form-control" id="usrname" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                  <input type="text" class="form-control" id="psw" placeholder="Enter password">
                </div>
                <button type="submit" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-off"></span> Guardar</button>
              </form>
            </div>
          </div>
        </div>
      </div> 
    </main>

    <!-- Footer Section Start -->   
    <footer class="section">  
        <% include ../partials/footer %>
    </footer>  
    <!-- Footer Section End -->  

    <% include ../partials/copyright %>
    <% include ../partials/gotop %>
    <% include ../partials/scripts %>
    <script type="text/javascript" src="/assets/js/hour-table.js"></script>
    <% include ../partials/datatables %> 

  </body>
</html>