<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <% include ../partials/page-header %>

    <main>
        <input type="hidden" id="pageName" value="<%= page %>"/>
        <div class="jumbotron">
            <div class="row row-centered">
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-6 col-centered">
                        <label for="username">Usuario</label>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-centered">
                        <input type="text" class="form-control" id="username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-6 col-centered">
                        <label for="password">Contraseña</label>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-centered">
                        <input type="password" class="form-control" id="password">
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="section">  
        <% include ../partials/footer %>
    </footer>  
    <!-- Footer Section End -->  
   
    </div>
    <!-- Main contetn End -->

    <% include ../partials/copyright %>
    <% include ../partials/gotop %>
    <% include ../partials/scripts %>
    
</body>
</html>