.logo {
	padding-top: 0.5em;
	width: 100px;
}
.top-buffer{
	 { padding-top: 1em; }
}

.pageContent{
	padding-top: 1.5em;
	padding-left: 1.5em;
	padding-bottom: 1.5em;
	padding-right: 1.5em;

	background-color: #e7e7e7;
}

.searchPanel{
	padding-top: 1.5em;
	padding-left: 1.5em;
	padding-bottom: 1.5em;
	padding-right: 1.5em;

	background-color: white;
}

.tablePanel{
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-right: 20px;

	background-color: #e6f2ff;
}

.loginContent{
	padding-top: 20px;
	padding-left: 40px;
	padding-bottom: 20px;
	padding-right: 40px;
}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
